{% extends "base.html" %}
{% block content %}
  <h1>Add New Meal</h1>

<form method="post" action="{{ url_for('meals.create_meal_form') }}">
  <input type="text" name="name" placeholder="Meal name" required />
  <input type="number" step="any" name="calories" placeholder="Calories" required />
  <input type="number" step="any" name="protein" placeholder="Protein" required />
  <input type="number" step="any" name="fat" placeholder="Fat" required />
  <input type="number" step="any" name="carbs" placeholder="Carbs" required />
  <button type="submit">Add Meal</button>
</form>

  <p><a href="/meal-ingredients/">Back to meal list</a></p>
{% endblock %}
