<!DOCTYPE html>
<html>
<head>
    <title>Add Ingredient</title>
</head>
<body>
    {{ request.url }}    
    <h1>Add New Ingredient</h1>
    <form method="post" action="/create-ingredient">
        <label>Name:</label><br>
        <input type="text" name="name" required><br>

        <label>Calories (per 100g):</label><br>
        <input type="number" step="any" name="calories" required><br>

        <label>Protein (g):</label><br>
        <input type="number" step="any" name="protein" required><br>

        <label>Fat (g):</label><br>
        <input type="number" step="any" name="fat" required><br>

        <label>Carbs (g):</label><br>
        <input type="number" step="any" name="carbs" required><br>

        <button type="submit">Add Ingredient</button>
    </form>
</body>
</html>
